/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #333;
    font-family: "Lato", sans-serif;
}

img{
    max-width: 100%;
    max-height: auto;
}

@define-mixins atLarge{
    @media(min-width: 1200px){
        @mixin-contents;
    }
}

.large-hero {
    position: relative;
}

.large-hero__image {
        width: 100%;
    }

@media(min-width: 550px){

.large-hero__image {
            margin-top: 45px;
    }
    }

.large-hero__description {
        position: absolute;
        top: 80%;
        left: 0;
        color: #FFF;
        width: 100%;
        text-align: center;
    }

.large-hero__description-title {
            display: none;
        }

@media(min-width: 550px){

.large-hero__description-title {
                display: block;
                font-size: 1.375rem;
                font-weight: 500;
                padding-bottom: 20px
        }
    }

.large-hero__description-lead {
            display: none;
        }

@media(min-width: 550px){

.large-hero__description-lead {
                display: block;
                font-size: 1rem
        }
    }

.wrapper{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    
}

@media(min-width: 550px){

.wrapper{
        max-width: 800px
    
}
    }

.section-title{
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 50px;
}

.section-title__lead{
        font-size: 1rem;
        font-weight: 400;
        color: #777;
        font-style: italic;
        text-align: center;
        margin: 20px 0;
    }

.band__description {
        text-align: justify;
        line-height: 1.5rem;
        margin-bottom: 50px;
    }

.band__member-title {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 15px;
    }

.band__member-image {
        display: flex;
        flex: 1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border-radius: 10px;
    }

@media(min-width: 550px){

        .band__description {
            text-align: justify;
            line-height: 1.5rem;
            margin-bottom: 50px;
        }

        .band__member-title {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 15px;
        }

        .band__member-image {
            position: relative;
            left: 50%;
            transform: translateX(-50%) scale(.6);
            transform-origin: 50% 0;
            border-radius: 10px;
        }
    }

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.row::after{
        content: '';
        display: table;
        clear: both;
    }

@media(min-width: 968px){

        .row__col-md-2 {
            display: inline-block;
            float: left;
            width: 50%;
        }

            .row__col-md-2 .row__col-md-2 {
                width: 47%;
            }
    }

.tour-dates {
    background-color: #000;
    color: #FFF;
    padding-bottom: 120px;
}

.tour-dates__collection {
        margin-top: 30px;
        margin-bottom: 30px;
    }

.tour-dates__collection-item {
        position: relative;
        text-decoration: none;
        display: block;
        background-color: #FFF;
        color: #333;
        width: 100%;
        padding: 10px;
        border: 0.5px solid #CCC;
    }

.tour-dates__card{
        margin-bottom: 20px;
    }

.tour-dates__description {
        background-color: #FFF;
        color: #333;
        padding: 25px;
    }

.tour-dates__description__title {
            margin-top: 0;
            font-size: 1rem;
            padding-bottom: 10px;
        }

.tour-dates__description__date {
            color: #777;
            padding-bottom: 15px;
        }

.tour-dates__description__content {
            font-size: 1rem;
            line-height: 1.3rem;
            padding-bottom: 25px;
        }

.badge__sold-out{
        margin-left: 20px;
        background-color: red;
        color: #FFF;
        padding: 2px 7px;
        
    }

.badge__circle{
        position: absolute;
        right: 5%;
        border-radius: 90%;
        background-color: #333;
        color: #FFF;
        padding: 1px 5px;
    }

.btn__black {
        background-color: #000;
        color: #FFF;

        text-decoration: none;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

.btn__black:hover {
        background: #AAA;
        color: #000;
    }

.contact {
    padding-bottom: 130px;
}

.contact__content {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

.contact__content:last-child {
            margin-bottom: 20px;
        }

.contact .section-title__lead {
        padding-bottom: 20px;
    }

.contact__textfield {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #CCC;
    }

@media(min-width: 550px){
        .contact .row__col-md-2:first-child {
            margin-right: 24px;
        }
    }

@media(min-width: 550px){
        .contact__textfield {
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
            border: 1px solid #CCC;

        }

            .contact__textfield__full-width {
                width: 100%;
                margin-bottom: 20px;
            }
    }

.contact .wrapper:last-child {
        position: relative;
    }

.contact .btn__black {
        position: absolute;
        right: 0;
        bottom: 0;
    }

@media(min-width: 550px){

.header {
        position: fixed;
        z-index: 2;
        width: 100%;
        background-color: #000
}
    }

@media(min-width: 550px){

.nav-bar {
        position: relative
}

        .nav-bar li {
            display: inline-block;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 20px;
            padding-left: 20px;
        }

        .nav-bar li:hover {
            background: #AAA;
            color: #000;
        }

        .nav-bar a {
            list-style: none;
            text-decoration: none;
            color: #FFF;
        }
    }