@define-mixin atSmall{
    @media(min-width: 550px){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media(min-width: 968px){
        @mixin-content;
    }
}

@define-mixins atLarge{
    @media(min-width: 1200px){
        @mixin-contents;
    }
}

@define-mixin clearfix{
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}