.badge{
    &__sold-out{
        margin-left: 20px;
        background-color: red;
        color: #FFF;
        padding: 2px 7px;
        
    }
    &__circle{
        position: absolute;
        right: 5%;
        border-radius: 90%;
        background-color: #333;
        color: #FFF;
        padding: 1px 5px;
    }
}