.band {

    &__description {
        text-align: justify;
        line-height: 1.5rem;
        margin-bottom: 50px;
    }

    &__member-title {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 15px;
    }

    &__member-image {
        display: flex;
        flex: 1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border-radius: 10px;
    }


    @mixin atSmall {

        &__description {
            text-align: justify;
            line-height: 1.5rem;
            margin-bottom: 50px;
        }

        &__member-title {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 15px;
        }

        &__member-image {
            position: relative;
            left: 50%;
            transform: translateX(-50%) scale(.6);
            transform-origin: 50% 0;
            border-radius: 10px;
        }
    }
}
