.btn {
    &__black {
        background-color: #000;
        color: #FFF;

        text-decoration: none;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    &__black:hover {
        background: #AAA;
        color: #000;
    }
}
