.contact {
    padding-bottom: 130px;

    &__content {
        font-size: 1.1rem;
        line-height: 1.5rem;

        &:last-child {
            margin-bottom: 20px;
        }
    }

    & .section-title__lead {
        padding-bottom: 20px;
    }

    &__textfield {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #CCC;
    }

    @mixin atSmall {
        & .row__col-md-2:first-child {
            margin-right: 24px;
        }
    }

    @mixin atSmall {
        &__textfield {
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
            border: 1px solid #CCC;

            &__full-width {
                width: 100%;
                margin-bottom: 20px;
            }

        }

    }

    & .wrapper:last-child {
        position: relative;
    }

    & .btn__black {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
