.large-hero {
    position: relative;

    &__image {
        @mixin atSmall{
            margin-top: 45px;
        }
        width: 100%;
    }

    &__description {
        position: absolute;
        top: 80%;
        left: 0;
        color: #FFF;
        width: 100%;
        text-align: center;

        &-title {
            display: none;

            @mixin atSmall {
                display: block;
                font-size: 1.375rem;
                font-weight: 500;
                padding-bottom: 20px;
            }
        }

        &-lead {
            display: none;

            @mixin atSmall {
                display: block;
                font-size: 1rem;
            }
        }
    }
}
