.nav-bar {

    @mixin atSmall {
        position: relative;

        li {
            display: inline-block;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 20px;
            padding-left: 20px;
        }

        li:hover {
            background: #AAA;
            color: #000;
        }

        a {
            list-style: none;
            text-decoration: none;
            color: #FFF;
        }
    }
}
