.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @mixin clearfix;

    @mixin atMedium {

        &__col-md-2 {
            display: inline-block;
            float: left;
            width: 50%;

            & & {
                width: 47%;
            }
        }

    }
}
