.section-title{
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 50px;
    
    &__lead{
        font-size: 1rem;
        font-weight: 400;
        color: #777;
        font-style: italic;
        text-align: center;
        margin: 20px 0;
    }
}