.tour-dates {
    background-color: #000;
    color: #FFF;
    padding-bottom: 120px;

    &__collection {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__collection-item {
        position: relative;
        text-decoration: none;
        display: block;
        background-color: #FFF;
        color: #333;
        width: 100%;
        padding: 10px;
        border: 0.5px solid #CCC;
    }
    
    &__card{
        margin-bottom: 20px;
    }


    &__description {
        background-color: #FFF;
        color: #333;
        padding: 25px;

        &__title {
            margin-top: 0;
            font-size: 1rem;
            padding-bottom: 10px;
        }

        &__date {
            color: #777;
            padding-bottom: 15px;
        }

        &__content {
            font-size: 1rem;
            line-height: 1.3rem;
            padding-bottom: 25px;
        }
    }
}
